/* Los estilos de tu proyecto */
/* cambiar el color de fondo a la barra */
.navbar {
    background-color: white;
    height: 100px;
}

body,html {
    height: 100%;
  }
  
  body {
    padding-top: 50px;
  }
  
  .background-1 {
    width:100%;
    height:100%;
    height:calc(100% - 1px);
    background-image:url('../assets/images/taxi.jpg');
    background-size:cover;
  }
  .background-2 {
    width:100%;
    height:80%;
    height:calc(100% - 1px);
    background-color: #f3d008;
  }

  .background-3 {
    width:100%;
    height:100%;
    height:calc(100% - 1px);
    background-image:url('../assets/images/conduce.jpg');
    background-size:cover;
    background-position: center center;
  }

  .localization-1 {
    background-color: #f3d008;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    padding-bottom:3%;
   }

.localization-2 {
 opacity: 10%;
  width: 100%;
  height: 50%;
  top: 5%;
  transform: translateX(10%);
}

.localization-3 {
  opacity: 10%;
   width: 100%;
   height: 50%;
   margin-top: 10%;
   /*transform: translateX(10%);*/
 }


 .background-4 {
  width:100%;
  height:80%;
  height:calc(100% - 1px);
  background-color: #292825;
 }

 .img-logo-blanco {
  width: 35%;
 }

 .btn-1 , .btn-2 , .btn-3 {
   color: black;
 }

 .text-viaja , .img-logo-blanco {
   display: inline-block;
 }
#btn-3 {background-color: #f3d008;}

#btn-4 {
  color: black;
  margin-top: 5%;
  transform: translateX(50%)
}

.content-2 {
   background-color:  #f3d008;
  border-width:1px;  
   border-style:solid;
   margin-top:10%;
   width: 80%;
   height: 65%;
}

.img-1 {
  padding: 15%;
}
  .wide img {
    width:100%;
  }
  
  .logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:center;
  }
  
  .line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
  }


  /*  nuevo stilos */
  @import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');
  
  body {
      background: url('/assets/64531/green_suburb.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#fff;
        background-color:#333;
        font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  }
  
  a:link, a:visited {
      color:#eee;
  }
  
  .block {
      background-color:rgba(0,0,0,0.2);
      height:370px;
        padding-left:12px;
        padding-right:12px;
  }
  
  .block-sm {
      height:180px;
  }
  
  .btn-flat {
        font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
      border-radius:0px;
        border-width:0;
        background-image:none;
        padding:16px;
        margin:0 auto;
        margin-top:15px;
        width:70%;
      font-size:20pt;
  }
  
  .footer-list-1 , .footer-list-2 , .footer-list-3{
    list-style: none;
  }
  /* medias*/
  @include media-breakpoint-up(xs) { 
    .btn-1 {
      display: none;
     }
    .btn-2 {
      display: none;
    }
    }

    /*
  @include media-breakpoint-up(sm) { ... }
  @include media-breakpoint-up(md) { ... }
  @include media-breakpoint-up(lg) { ... }*/

  @include media-breakpoint-up(xl) {
     }